.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
//   padding: 0 80px;
  gap: 64px;
}

.image-column-container {
  flex-shrink: 0;
}

.hero-content {
  flex: 1;
  max-width: 600px;
}

.hero-heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
}

.highlight {
  color: #00b7ba;
}

.experts {
  color: #000;
}

.subtext {
  font-size: 18px;
  margin-top: 16px;
  color: #666;
}
